services:
  backend:
    container_name: backend-api
    build:
      context: ./backend
    env_file:
      - .env
      - ./backend/.env
    ports:
      - "${BACKEND_PORT}:3000"
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    container_name: frontend-web
    build:
      context: ./frontend
    env_file:
      - .env
      - ./frontend/.env
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
